html, body {
  padding: 0;
  margin: 0;
  font-family: 'Asap Condensed', sans-serif;
  color: #fff;
}

section {
  height: 55vh;
  width: 180vh;
}

#gridSVG {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 10px);
  margin: 5px;
}

  .top {
    display: flex;
    flex-direction: row;

    height: 34px;
    /*background: #320A28;*/
    background: #7C809B;
    /*background: #310A31;*/
  }

    .square-inner {
      text-align: center;
      vertical-align: middle;
      line-height: 30px;

      /*border: 2px solid #320A28;*/
      border: 2px solid #7C809B;;

      height: 30px;
      width: 30px;
    }

    .tt-menu {
      width: 385px;
      margin-left: 7px;
      margin-top: 1px;
      padding: 5px;
      background-color: white;
      color: black;
      border-radius: 2px;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      max-height: 80px;
      overflow-y: auto;
    }

    .tt-suggestion {
      padding: 3px 20px;
      font-size: 18px;
      line-height: 24px;
    }

    .tt-suggestion:hover { 
      background-color: #0097cf;
      opacity: 0.4; 

    }
    .search-wrapper {
      flex: 2;
      float: right;
    }
      .scrollable-dropdown-menu {
        width: 385px;
        margin: 7px;
      }


    .slide-no {
      display: flex;
      /*flex: 1;*/
      flex-direction: row;
    }

      .slide-no-square-wrapper {
        cursor: pointer;
        color: black;
        /*flex: 1; */
      }

        .slide-no-square {
          /*background: #E0D68A;*/
          background: #D0CCD0;
        }
        .slide-no-square:hover {
          background: #8E8B8E;
          color: white;
        }

      .slide-explore {
        text-align: center;
        vertical-align: middle;
        line-height: 34px;
        margin-left: 5px;

        height: 34px;
        width: 105px;
      }
      .slide-explore:hover {
        color: white;
      }

    .about {
      /*background: #CB9173;*/
      background: #D0CCD0;
      color: black;
    }

    .about:hover {
      background: #8E8B8E;
      color: white;
    }

  .dynamic-text {
    height: 100px;
    padding: 5px;

    font-size: 15px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background: #8E443D;
  }

  .middle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

    .graph-viewer-wrapper {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }

      .proportion-graph-viewer {
        display: flex;
        height: 0;
      }

      .arrow {
        width: 4vw;
        position: relative;
        /*align-items: center;*/

        background: #fff;
      }

      .arrow>img {
        width: 100%;

        display: none;
        position: absolute;
        top: calc(50% - 4vw);
        /*left: calc(50% - 4vw);*/
      }

      .proportion-graph {
        flex-grow: 1;
        display: flex;
        align-items: center;

        /*background: #511730;*/
        background: white;
      }

      .info {
        background: #4C2A85;
        padding: 5px;
        display: none;
        width: 200px;
      }

      .bar-graph-viewer {
        position: relative;
        flex-grow: 1;

        /*background: #EA7AF4;*/
      }

        .bar-graph {

        }

        .company-bar-name {
          position: absolute;
          bottom: 0; left: 0;

          /*background: #AEB4A9;*/
        }