html, body {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: 'Muli', sans-serif;

  background: #F7F7F7;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.visualization {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 10px);
  margin: 5px;
  z-index: 1;
}

  .top {
    display: flex;
    flex-direction: row;

    height: 34px;
    /*background: #7C809B;*/
  }

    .square-inner {
      text-align: center;
      vertical-align: middle;
      line-height: 30px;

      height: 30px;
      width: 30px;
    }

    .tt-menu {
      width: 25vw;
      margin-left: 7px;
      margin-top: 1px;
      padding: 5px;
      background-color: white;
      color: black;
      border-radius: 2px;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      max-height: 20vh;
      overflow-y: auto;
      text-align: left;
    }

    .tt-suggestion {
      padding: 3px 20px;

      font-family: 'Muli', sans-serif;
      font-size: 14px;

      line-height: 14px;
    }

    .tt-suggestion:hover { 
      background-color: #0097cf;
      opacity: 0.4; 
    }

    .tt-suggestion.tt-cursor {
      background-color: #0097cf;
    }

    .tt-hint {
      font-family: 'Muli', sans-serif;
      font-size: 14px;

      padding-left: 5px;
    }

    .tt-input {
      background-color: #0097cf;
      opacity: 1;

      font-family: 'Muli', sans-serif;
      font-size: 14px;

      padding-left: 5px;
    }

      .tt-input::placeholder {
        font-family: 'Muli', sans-serif;
        font-size: 14px;

        padding-left: 5px;
      }

    .search-wrapper {
      flex: 2;
      text-align: right;
      opacity: 0;
      visibility: hidden;
    }
      .scrollable-dropdown-menu {
        width: 25vw;
        height: 24px;
        min-width: 30px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
      }

    .slide-no {
      display: flex;
      flex-direction: row;
    }

      .slide-no-square-wrapper {
        cursor: pointer;
        margin-left: 2px;
        margin-right: 2px;
      }

        .slide-no-square {
          /*background: #D0CCD0;*/
          color: #000;
        }

        .active-slide-no-square {
          /*background: #3E4351;*/
          background: #454545;
          color: #fff;
          /*font-weight: bold;*/
        }

      .slide-explore {
        text-align: center;
        vertical-align: middle;
        line-height: 30px;

        height: 30px;
        width: 140px;
      }

        .slide-explore-text {
          padding-bottom: 3px;
          border-bottom: 1px dotted #454545;
          color: inherit;
        }

    .about-button {
      cursor: pointer;
      color: black;

      width: 60px;

      text-align: center;
      vertical-align: middle;

    }

    .about-button:hover {
      background: #8E8B8E;
      color: white;
    }

  .dynamic-text {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2vw;
    color: black;
    vertical-align: middle;
    /*line-height: 80px;*/
    margin-top: 3px;
    margin-bottom: 3px;
  }
    .dynamic-text-img {
      height: 50px;
      width: 40px;
      vertical-align: middle;
      margin-right: 10px; 
    }

    .key {
      padding: 1%;
      margin: 1%;
      /*height: 5%;*/
    }

    .key-rect {
      padding-left: 10px;
      padding-right: 5px;
    }

    .key-text {
      font-size: 1vw;
    }


  .graph-viewers {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

    .proportion-graph-viewer {
      display: none;
      flex-direction: row;
      height: 0;
    }

      .proportion-graph-wrapper {
        display: flex;
        position: relative;

        flex-grow: 1;
        align-items: center;
      }

      .info {
        opacity: 0;
        background:#fff;
        margin-right: 10px;
        padding: 10px 20px 10px 20px;
        width: 44vh;
        overflow-y: scroll; 
        z-index: 2;
        margin-left: 30px;
        background: #ededed;
        /*color: #fff;*/
        /*box-shadow: 5px 5px 7px rgba(33,33,33,1);*/
      }
        .company-name {
          font-size: 28px;
          font-weight: bold;
          padding-bottom: 2px;
        }
        .industry {
          font-size: 19px;
          padding-bottom: 15px;
          font-style: italic;
          padding-bottom: 10px;
        }
        .main-info {
          padding-bottom: 10px;
          font-size: 17px;
        }
          .years-no-tax {
            font-size: 15px;
          }
          .rate, .tax-break, .years-no-tax {
            padding-bottom: 5px;
          }
        .tax-rebates {
          padding-bottom: 10px;
          font-size: 15px;

          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
        }
          .toggle-label {
            cursor: pointer;
          }
            .description {
              display: none;
              padding-left: 12px;
              font-size: 12px;
            }

          .tax-rebates > * {
            padding-bottom: 2px;
          }

          .how {
            font-style: bold;
            font-size: 17px;
          }

        .note {
          font-size: 17px;
        }
          /*.note>.description {
            font-size: 12px;
          }*/

    .bar-graph-viewer {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
    }

      .bar-graph-wrapper {
        flex: 1;
      }

      .bar-graph {
        position: absolute;
      }

      .quote-text, .highlight, .cursor {
        color: #3E4351;
        font-family: 'Muli', sans-serif;        
      }

      .intro-text {
        fill: #44005B;
      }

      .pedal, .pedal-link {
        font-size: 2rem;
        font-family: 'Muli', sans-serif;
        color: #566C58;

        padding: 1%;
      }

      .bolden:hover {
        cursor: pointer;
      }

      .click-advance {
        font-size: 1.5rem;
      }


.about {
  position: absolute;

  font-family: 'Muli', sans-serif;

  height: calc(100vh - 65px);
  width: 0;

  background: #454545;

  z-index: 4;
  top: 39px; right: 0;

  margin: 5px;

  overflow-y: scroll;
  overflow-x: none; 
}

  .about-text {
    color: #fff;
    padding: 20px;
  }

  .report-link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px #F7F7F7 dotted;
  }

    .report-link:hover {
      color: rgba(255, 225, 25, 1);
    border-bottom: 1px rgba(255, 225, 25, 1) dotted;
    }

.bold {
  font-weight: bold;
}

.heading {
  font-size: 23px;
}

.bar {
  fill: rgba(0,0,0,0.4);
}

.percent-line {
  stroke: #000;
}

.axis path,
.axis line {
  stroke: #000;
}