html, body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Asap Condensed', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.visualization {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 10px);
  margin: 5px;
  z-index: 1;
}

  .top {
    display: flex;
    flex-direction: row;

    height: 34px;
    background: #7C809B;
  }

    .square-inner {
      text-align: center;
      vertical-align: middle;
      line-height: 30px;

      border: 2px solid #7C809B;;

      height: 30px;
      width: 30px;
    }

    .tt-menu {
      width: 25vw;
      margin-left: 7px;
      margin-top: 1px;
      padding: 5px;
      background-color: white;
      color: black;
      border-radius: 2px;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      max-height: 20vh;
      overflow-y: auto;
    }

    .tt-suggestion {
      padding: 3px 20px;
      font-size: 18px;
      line-height: 24px;
    }

    .tt-suggestion:hover { 
      background-color: #0097cf;
      opacity: 0.4; 
    }

    .tt-suggestion.tt-cursor {
      background-color: #0097cf;
    }

    .tt-input {
      background-color: #0097cf;
      opacity: 1;
    }

    .search-wrapper {
      flex: 2;
      float: right;
    }
      .scrollable-dropdown-menu {
        width: 25vw;
        min-width: 30px;
        margin: 7px;
      }

    .slide-no {
      display: flex;
      flex-direction: row;
    }

      .slide-no-square-wrapper {
        cursor: pointer;
        color: black;
      }

        .slide-no-square {
          background: #D0CCD0;
          color: black;
        }
        .slide-no-square:hover {
          background: #8E8B8E;
          color: white;
        }
        .active-slide-no-square {
          background: #8E8B8E;
          color: white;
        }

      .slide-explore {
        text-align: center;
        vertical-align: middle;
        line-height: 34px;
        margin-left: 5px;

        height: 34px;
        width: 110px;

        font-size: 0.9rem;
      }
      .slide-explore:hover {
        color: white;
      }

    .about-button {
      cursor: pointer;
      background: #D0CCD0;
      color: black;
    }

    .about-button:hover {
      background: #8E8B8E;
      color: white;
    }

  .dynamic-text {
    height: 80px;
    padding: 10px;
    font-size: 2vw;
    color: black;
    vertical-align: middle;
    line-height: 80px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
    .dynamic-text-img {
      height: 50px;
      width: 40px;
      vertical-align: middle;
      margin-right: 10px; 
    }

    .key {
      padding: 1%;
      margin: 1%;
      /*height: 5%;*/
    }

    .key-rect {
      padding-left: 10px;
      padding-right: 5px;
    }

    .key-text {
      font-size: 1vw;
    }


  .graph-viewers {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

    .proportion-graph-viewer {
      display: none;
      flex-direction: row;
      height: 0;
    }

      .proportion-graph-wrapper {
        display: flex;
        position: relative;

        flex-grow: 1;
        align-items: center;
      }

      .info {
        opacity: 0;
        background: #4C2A85;
        margin-right: 10px;
        padding: 10px 20px 10px 20px;
        width: 290px;
        overflow-y: scroll; 
        z-index: 2;
      }
        .company-name {
          font-size: 28px;
          text-align: center;
          font-weight: bold;
          /*padding-bottom: 2px;*/
        }
        .industry {
          font-size: 19px;
          padding-bottom: 15px;
          font-style: italic;
          text-align: center;
        }
        .main-info {
          padding-bottom: 10px;
          font-size: 17px;
        }
          .years-no-tax {
            font-size: 15px;
          }
          .rate, .tax-break, .years-no-tax {
            padding-bottom: 5px;
          }
        .tax-rebates {
          padding-bottom: 10px;
          font-size: 15px;

          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
        }
          .toggle-label {
            cursor: pointer;
          }
            .description {
              display: none;
              padding-left: 12px;
              font-size: 12px;
            }

          .tax-rebates > * {
            padding-bottom: 2px;
          }

          .how {
            font-style: bold;
            font-size: 17px;
          }

        .note {
          font-size: 17px;
        }
          /*.note>.description {
            font-size: 12px;
          }*/

    .bar-graph-viewer {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
    }

      .bar-graph-wrapper {
        flex: 1;
      }

      .bar-graph {
        position: absolute;
      }

      .quote-text, .highlight, .cursor, .pedal, .pedal-link {
        font-family: 'Roboto Mono', monospace;        
      }

      .intro-text {
        fill: #44005B;
      }

      .pedal {
        font-size: 2rem;
        font-family: 'Asap Condensed', sans-serif;
        color: #224461;

        padding: 1%;
      }

      .bolden:hover {
        cursor: pointer;
      }


.about {
  position: absolute;

  height: calc(100vh - 65px);
  width: 0;

  background: green;
  z-index: 4;
  top: 39px; right: 0;

  margin: 5px;

  overflow-y: scroll;
  overflow-x: none; 
}

  .about-text {
    text-overflow: clip;
    text-align: justify;

    height: 100%;
    width: 90%;
    padding: 20px;
  }

.bold {
  font-weight: bold;
}
